[2017-07-18 03:33] talenguyen opened #9 "Auto start"
My opinion is it's better if we have option to auto start animation when it's ready than only java option.

[2017-07-18 19:24] abiemann opened #10 "Manifest merger failed : Attribute application@supportsRtl"
Maybe it's possible for the library to omit supportsRtl ?

[code]

[2017-07-19 05:35] veghtomi commented on #10
It will be fixed in the next release which I am about to release in the weekend.

[2017-07-19 07:01] veghtomi commented on #9
In the next release (at the weekend) I will add an autoStart attribute to it.

[2017-07-19 14:02] Dvik opened #11 "Can't set shimmer color"
I'm using `app:shimmer_color = "#fff"` as an attribute to ShimmerLayout to set the shimmer color to white. However, it doesn't seem to change and the shimmer color is still the default one. Am i missing something, here?

[2017-07-19 14:07] #11 closed

[2017-07-19 21:25] mattleibow opened #12 "Use removeGlobalOnLayoutListener for API 15+"
Have you considered using `removeGlobalOnLayoutListener` here:

https://github.com/team-supercharge/ShimmerLayout/blob/master/shimmerlayout/src/main/java/io/supercharge/shimmerlayout/ShimmerLayout.java#L98

This way, you can drop the minimum version of Android required to API 15 (v4.0.3). Although not a major jump, this makes this library available a few more devices.

[2017-07-19 21:28] mattleibow commented on #12
If you tweak this:
https://github.com/team-supercharge/ShimmerLayout/blob/master/shimmerlayout/src/main/java/io/supercharge/shimmerlayout/ShimmerLayout.java#L273-L279

You can drop the API to 14+

[2017-07-19 22:05] WonderCsabo commented on #12
What is the issue with the getColor method?

[2017-07-19 22:11] mattleibow commented on #12
The `return getContext().getColor(id);` does not exist on API 14. It does on 15+.

[2017-07-19 22:48] WonderCsabo commented on #12
Actually Context.getColor() was added in API 23 and as you can see, we only call that above for older versions we fallback on code which is compatible with API 1.

[2017-07-20 21:28] mattleibow commented on #12
ah, you are right! my mind skipped over the whole if statement :)

[2017-07-21 07:20] k0shk0sh commented on #9
@veghtomi I hope you don't mind, but i'm planning to take the issues that are currently opened including this, as i'm planning to use the library in https://github.com/k0shk0sh/FastHub and love to contribute to it :) . will be submitting a PR in awhile.

[2017-07-21 07:41] veghtomi commented on #9
Any contribution is appreciated @k0shk0sh ! Just ignore the #12 issue now.

[2017-07-21 07:43] k0shk0sh commented on #9
@veghtomi  Already did before I see your response, would you consider or stash my changes?

[2017-07-21 07:49] veghtomi commented on #9
@k0shk0sh Feel free to submit! :)

[2017-07-21 07:50] k0shk0sh commented on #9
@veghtomi  cool, I'll be committing the PR right away.

[2017-07-23 06:41] veghtomi commented on #10
@abiemann the supportsRtl was removed from the manifest.

[2017-07-23 06:41] #10 closed

[2017-07-25 10:56] veghtomi commented on #12
Now the minimum API is 14.

[2017-07-25 10:56] #12 closed

[2017-07-25 10:57] veghtomi commented on #9
Feature is added.

[2017-07-25 10:57] #9 closed

[2017-08-08 03:37] IvanBean opened #21 "Use with Recyclerview and Glide, some animation not stop properly"
Hi, in my Recyclerview I'm using ShimmerLayout to wrap a ImageView, layout file like below:
[code]
Inside onBindViewHolder i start animation at begin, and stop animation when Glide load image successful.
[code]
The problem is when i scroll the horizontal recyclerview, some items already load image finish, but the animation didn't stop. Screenshot: http://i.imgur.com/o1DFbh8.png ,item at the right

[2017-08-08 19:46] veghtomi commented on #21
@IvanBean thanks for reporting the issue, i will investigate it!

[2017-08-12 10:17] veghtomi commented on #21
@IvanBean it seems that this is a bug of the library. I was able to reproduce it, now I am working on the solution.

[2017-08-14 22:31] veghtomi commented on #21
@IvanBean the issue is fixed. Now it should work in the new version which is 1.0.2. #22 fixed it if you are interested in the solution.

[2017-08-14 22:31] #21 closed

[2017-08-15 02:02] IvanBean commented on #21
@veghtomi it works now, thank you for the awesome library!

[2017-09-13 02:06] ClaudeHangui opened #23 "No effect inside recyclerview"
I have an adapter which consists of a SimpleDraweeView, Textview and a View (which serves as a line separator between items)...
I injected the ShimmerLayout (for each view) inside my xml, bound the items in my ViewHolder, but when I launch the app, nothing is visible on the screen; even the placeholder image I defined in my xml is not showing...The items appears only when the image is loaded....I

[2017-09-14 07:05] veghtomi commented on #23
@ClaudeHangui  thanks for reporting the issue. I will do the investigation soon.

[2017-09-18 16:25] tasomaniac opened #24 "Shimmer effect grows wider when its height is big"
I'm not sure what is wrong exactly but I have some weird behavior when I try to use the library with a complex and full-screen layout.

We are actually using the library for another screen where we only have small list item. That works fine.

Here is how it looks like. The shimmer is wider on the bottom.

![shimmer](https://user-images.githubusercontent.com/763339/30552525-8374f5c0-9c9e-11e7-9cca-

[2017-09-18 17:06] veghtomi commented on #24
@tasomaniac This is not an issue and the height has nothing to do with it. The problem (or I would not say it is a problem) is that your are using different background colors for the views in the animation. The color of the shimmer line has a zero alpha value at the left and right side and 1 alpha value at the middle. This means if you have a lighter color than the shimmer line, the line will look

[2017-09-18 17:06] #24 closed

[2017-09-18 19:27] tasomaniac commented on #24
We saw the article and wanted to switch from the other library.
In our case, it is actually not possible to change the colors. We may change the colors of call and email buttons but the image below the buttons even has a lot of transparency.

So you're saying that this is the limitation of the library and it is not possible to do shimmer on an arbitrary image? So it needs to have a single color fo

[2017-09-18 20:51] veghtomi commented on #24
So basically yes, using one color is the easiest way but for different backgrounds it looks slightly different. What you can do is to play with the background alpha, so when you decrease the alpha of the top view, the line will be wider, but the line below the buttons will not change.

As for images, it can run on any image.

[2017-09-22 08:15] anderscheow opened #25 "OutOfMemory Exception"
![30528146-93a5032c-9c62-11e7-8a8f-97009db6f6b7](https://user-images.githubusercontent.com/11788504/30735359-4acad328-9fb1-11e7-9848-9ddfcedce1b5.png)
Getting this when try to run it

[2017-09-22 08:44] veghtomi commented on #25
@anderscheow Could you provide me with the details of your application? How big are the layouts you are animating, how many animations are running at the same time? And what kind of phone you are using as it seems that it fails to allocate around 3 megabytes which is quite unreal with todays phones.

[2017-09-24 08:59] anderscheow commented on #25
@veghtomi i do not have much info on this, this problem occurred to one of the phone when the app go live to public, this is the only info i can get

[2017-10-01 10:24] veghtomi commented on #25
@anderscheow and what about the layout itself? I guess this animation is applied only a few places in your app. Could you list them so I can figure out why happened?

So far I believe the phone itself has very little free memory and it is not library related issue.

[2017-10-01 10:45] anderscheow commented on #25
@veghtomi I did applied that to 2 layouts, they did load when the app is launched. Is there any possible way to handle this?

[2017-10-01 12:14] veghtomi commented on #23
@ClaudeHangui First of all, the usage of ShimmerLayout here is not proper. You have 3 ShimmerLayout in your list item, however you only start the animation for one of them. The other 2 (Shimmer effect on the title and the separator) is not visible since they are not started. At the _onFinalImageSet_ method, you stop all of them, even they are not started, on the _onFailure_ method only one of them

[2017-10-01 12:14] #23 closed

[2017-10-01 12:19] veghtomi commented on #25
@anderscheow The only possible way it can happen is whether those layouts are huge (multiple of the screen height) or the phone this issue happened on is a low-end phone. How many times this issue occured?

[2017-10-01 14:35] anderscheow commented on #25
@veghtomi so far only has 1 device got this issue. i also suspect is low-end phone. Btw thanks for the help :)

[2017-10-01 18:51] veghtomi commented on #25
@anderscheow You are welcome! :) If you have some issue with the lib, just write me!

[2017-10-01 18:51] #25 closed

[2017-10-06 17:28] ClaudeHangui commented on #23
Ok then..I'll give it a try and get back if I encounter any issues

[2017-11-03 11:07] AamirAbro opened #26 "Is there any way to set the width of the rolling shimmer line that animates?"

[2017-11-03 11:27] veghtomi commented on #26
@AamirAbro No, the width of the shimmer line is proportional to the width of the layout.

[2017-11-03 13:32] AamirAbro commented on #26
thanks but should there be at-least some way to configure this may be if not directly setting size then setting what proportion (ratio) of width would be that shimmer line?

[2017-11-04 16:12] veghtomi commented on #26
What do you think about an attribute which would define the width of shimmerline as percentage proportional to the layout width?

[2017-11-04 16:17] veghtomi commented on #26
I will create it in the next week.

[2017-11-08 21:08] AamirAbro commented on #26
thanks that will be great!

[2017-11-27 15:12] Pedramrn opened #30 "Memory Leak"
I couldn't find any reference from the leak to my code.
[code]

[2017-11-28 23:14] veghtomi commented on #30
@Pedramrn Could you provide me more information like when it happened or is it reproducible? I tried to reproduce it, but for me it is working fine.

[2017-11-29 08:48] tomkoptel commented on #30
@Pedramrn Hello! It could be an issue of Android sources and it might be part of the whitelisted issues on the side of LeakCanary. There are some references on the internet that might help to address the issue regarding `InputManager` class:
* [Try the GIST](https://gist.github.com/pyricau/4df64341cc978a7de414) originally mentioned in [](https://stackoverflow.com/questions/34631818/leakcanary-repo

[2017-12-01 13:45] veghtomi commented on #30
@Pedramrn since no response has arrived and no one has experienced this issue, I'm closing it.

[2017-12-01 13:45] #30 closed

[2017-12-02 03:28] veghtomi commented on #26
@AamirAbro here are my solutions for your issue, please check it! I used 0 angle for this shimmer animation. I would create two more attributes. One for the width of the line, the other for the width of the main color, which would define the width of this color at the center. Hence, the width of the transparent parts at the edges would be less. See the third image.

@szugyi What is your opinion?

[2017-12-02 10:14] szugyi commented on #26
@veghtomi
Looking good!
I would suggest calling the "line" width, mask width, and the size of the "color", gradient width to avoid confusion. The attributes might be `mask_width` and `gradient_width` or something similar.

[2017-12-10 22:43] veghtomi opened #33 "Animation starts at the middle of view"
When the height of the view is much bigger than the width and the angle is 30, the shimmer line will start the animation at the middle of the view instead of the edge.

![bad_animation_start_point](https://user-images.githubusercontent.com/22046406/33810340-cdc80792-de03-11e7-9323-9450c01ad681.gif)

[2017-12-11 00:04] veghtomi commented on #33
#34 solved it.

[2017-12-11 00:04] #33 closed

[2017-12-11 15:21] veghtomi commented on #26
The new, 1.1.0 version contains this feature!

[2017-12-11 15:21] #26 closed

[2017-12-13 12:33] QumberAbbas commented on #26
<3

On Mon, Dec 11, 2017 at 8:21 PM, Végh Tamás <notifications@github.com>
wrote:

--
Regards

*Qumber Abbas*+92 3314336096

[2017-12-22 06:20] shaishavgandhi05 opened #37 "Documentation For Custom Properties"
One suggestion is to have a table of properties that ShimmerLayout exposes and describe what it does, what the allowed inputs are etc in the Readme.md
There aren't many properties and it would be very useful since everyone's configuration will be completely different and it will be useful to have that table to consult.
I'm happy to take a stab at it.

[2017-12-22 08:39] veghtomi commented on #37
Quite an idea! I would be very happy if you do it. The best solution would be I believe if You could create a wiki page for it. After the readme would be also updated with a reference to this wiki page.

[2017-12-22 16:20] ShaishavGandhi commented on #37
That sounds good. I'll submit a PR over the weekend.

[2017-12-26 09:26] leyvien opened #38 "problem when implement into recyclerview"
i upload sort clip to demonstration this problem
https://media.giphy.com/media/xT1Ra4ix78tdhSqnmw/giphy.gif

i have recyclerview with 20 items, the problem happen when i scroll down and then scroll up
(Sorry about my English)

[2017-12-26 11:02] veghtomi commented on #38
@leyvien It is because of the RecyclerView default behaviour. When you scrolll down or up, the viewholders will be binded again, which means new startAnimation will be called. That is the reason why the shimmerAnimations do not start together.

I suggest using the `setLayoutFrozen(boolean frozen)` method of the `RecyclerView` which will disable scrolling for the time of the loading.

[2017-12-26 11:14] leyvien commented on #38
@veghtomi Thank you for quick response.
Is there any other way to achieve that without using  setLayoutFrozen, i still need scrolling
(i already try Facebook shimmer library but it make my app very slow, that why i choose your library )

[2017-12-26 13:14] veghtomi commented on #38
And the Facebook library worked as expected? I will think about it. Maybe if there is a way to disable recycling viewholders it could work.

[2017-12-27 02:38] leyvien commented on #38
@veghtomi Yes, Facebook library worked as expected!

[2017-12-27 07:06] veghtomi commented on #38
Thanks! I will check it!

[2018-01-04 13:39] veghtomi commented on #38
@leyvien could you provide me code when the Facebook shimmer library worked as expected? I tried it, however I experienced the same issues.

[2018-01-08 07:59] leyvien commented on #38
@veghtomi Oh sorry, my mistake!
After checked, Facebook also have same issue

[2018-01-12 15:52] mgrzechocinski commented on #38
Hi, @veghtomi, on the attached GIF, why 7th+ rows are not being animated? I'm facing similar issue right now when trying to use ShimmerLayout in a view which is recycled using ViewHolder. Sometimes thoses views are not being animated at all. In my case, it's always the first view which is recycled.

In my Adapter's `onBindViewHolder` I try to stop the animation and start it again for the recycled

[2018-01-12 16:16] mgrzechocinski commented on #38
After further investigation - it looks like the problem with `ViewTreeObserver.OnGlobalLayoutListener` in `startShimmerAnimation` which doesn't get called for recycled views, therefore animation is never being launched for them.

[2018-01-12 16:34] veghtomi commented on #38
Hi @mgrzechocinski, the solution for this issue is using `ViewTreeObserver.OnPreDrawListener` instead of `ViewTreeObserver.OnGlobalLayoutListener`. I fixed it, just not created a pull request. I will release it at the next week. Until that try this solution.

[2018-01-12 17:59] mgrzechocinski commented on #38
Hi, @veghtomi, so you mean something like this? #39

I tried it but unfortunately I'm still able to reproduce recycled views without animation, especially when doing fasts scroll on long list.

[2018-01-12 18:57] mgrzechocinski commented on #38
Ok, I looked at the ShimmerLayout.java closely and found that my issue is caused by:

[code]

It's extremely simple to reproduce. Just have your view holders created, swipe your list down, until at least one view becomes recycled, then swipe up. Your first view, which came back has no animation.

Here's how it looks in logs:

[code]

I guess `resetShimmering()` in `onDetachedFromWindow()` is gener

[2018-01-16 14:59] mgrzechocinski commented on #38
Hey, @veghtomi, any updates on this?

[2018-01-17 14:13] veghtomi commented on #38
Hi @mgrzechocinski, check the pull request. The CI has failed at your commit.

[2018-01-29 15:27] robohorse opened #40 "OOM Crash"
Hi, here is some problems:

[code]

[2018-01-29 16:10] robohorse commented on #40
https://github.com/team-supercharge/ShimmerLayout/blob/a05ee98f0fb843847902ff2a79282eabacabf3aa/shimmerlayout/src/main/java/io/supercharge/shimmerlayout/ShimmerLayout.java#L375

System.gc() sends a request to the GC to perform a collection cycle. This request may be served or it may be ignored, therefore neither result should be relied on.

Previous stacktrace is from version 1.0.2. I updated my d

[2018-01-29 22:29] veghtomi commented on #40
@robohorse thanks for reporting the issue. I see that you used it in a RecyclerView. Unfortunately, that usage still consumes a lot of memory especially on phones with high-resolution screens, but I am working on the solution.

[2018-01-30 14:27] robohorse commented on #40
del

[2018-02-07 12:08] veghtomi commented on #40
@robohorse I created the solution for this, waiting to be reviewed. Until then, you can test it!

[2018-02-07 12:11] veghtomi commented on #38
The solution for this is waiting to be reviewed. Until then you can test it. To work perfectly at RecyclerView, I suggest that starting the animation should be placed inside `void onViewAttachedToWindow (VH holder)` at the Adapter class.

[2018-02-10 00:29] veghtomi commented on #37
Wiki is created!

[2018-02-10 00:29] #37 closed

[2018-02-13 12:52] veghtomi commented on #40
@robohorse the new 1.2.0 version solves your issue

[2018-02-13 12:52] #40 closed

[2018-02-13 12:53] veghtomi commented on #38
The new 1.2.0 version solves this issue!

[2018-02-13 12:53] #38 closed

[2018-02-15 16:16] veghtomi commented on #25
@anderscheow Check out the new 2.0.0 version where memory usage decreased dramatically.

[2018-02-15 16:16] veghtomi commented on #40
@robohorse Check out the new 2.0.0 version where memory usage decreased dramatically.

[2018-03-02 14:27] frozenex opened #48 "Right to Left Animation"
Is it possible to reverse the animation say from right to left instead of left to right ??

[2018-03-02 15:16] veghtomi commented on #48
@frozenex no, it is not possible now, but I will implement it and the next week it will be released so you can use it!

[2018-03-02 17:56] frozenex commented on #48
@veghtomi Thank you, looking forward to the update.

[2018-03-06 08:49] veghtomi commented on #48
@frozenex feature is done. After doing the testing, it will be released around Thursday or Friday, but I will write here.

[2018-03-08 13:16] veghtomi commented on #48
@frozenex reverse animation is ready to be used at the new version of the library, in **2.1.0**

Also, you can now add negative angle to the shimmer line.

[2018-03-08 13:16] #48 closed

[2018-04-04 08:02] kavitamp opened #53 "IllegalArgumentException: width and height must be > 0"
I am getting this error in ShimmerLayout class. What could be the issue?

Fatal Exception: java.lang.IllegalArgumentException: width and height must be > 0
       at android.graphics.Bitmap.createBitmap(Bitmap.java:969)
       at android.graphics.Bitmap.createBitmap(Bitmap.java:948)
       at android.graphics.Bitmap.createBitmap(Bitmap.java:915)
       at io.supercharge.shimmerlayout.ShimmerLayout

[2018-04-04 08:29] veghtomi commented on #53
@kavitamp try the newest version of the library (2.1.0)

[2018-04-04 14:36] dorsamet opened #54 "Memory leak - ValueAnimator holding a reference to the view"
Hi,

I received this memory leak:

![whatsapp image 2018-04-04 at 3 21 33 pm](https://user-images.githubusercontent.com/11819137/38314187-56bcda4e-382e-11e8-8205-f3fef4e6ca2b.jpeg)

![whatsapp image 2018-04-04 at 3 21 33 pm](https://user-images.githubusercontent.com/11819137/38314147-456886c6-382e-11e8-964e-6c8d94b9e56c.jpeg)

I've seen a similar issue being posted on the Facebook Github.
We curre

[2018-04-05 05:42] frozenex commented on #48
@veghtomi Thanks for implementing the feature... Just now implemented it in the app, working as expected!

[2018-04-05 06:01] veghtomi commented on #48
You are welcome! :)

[2018-04-06 09:07] veghtomi commented on #53
@kavitamp is it working now as expected?

[2018-04-06 09:26] kavitamp commented on #53
@veghtomi This error is not coming frequently. I have not tries it yet. Will let you know once it will get tested.

[2018-04-09 09:23] veghtomi commented on #54
@dorsamet If you could show/send me code I could check it. Basically, the lib should not leak memory as when it is detached, all the bitmaps are recycled, animation is cancelled and listeners also removed.

[2018-04-09 09:26] veghtomi commented on #53
@kavitamp ok, in the meantime I close this issue since with the new version it cannot happen. If it happens, just open the issue again.

[2018-04-09 09:26] #53 closed

[2018-04-09 12:21] kavitamp commented on #53
Sure. Thank you

[2018-04-19 06:35] veghtomi commented on #54
Since no other information about the leak has arrived, I am closing this issue.

[2018-04-19 06:35] #54 closed

[2018-05-01 16:51] ArcherEmiya05 opened #55 "Shimmering Stop in RecyclerView"
Whenever I scroll in Recyclerview the shimmering part is stop just like in this video.

https://drive.google.com/file/d/1jr32P_av4cP9tHqW-UBkOnrSoWDqO5LI/view

[2018-05-01 17:54] GuanacoDevs commented on #55
I solved it using the second to last comment of #38
[code]

[2018-05-02 12:49] veghtomi commented on #55
@ArcherEmiya05 it is not an issue, it can be fixed as @GuanacoDevs wrote in the previous comment.

 The reason behind this, that when the particular list item/Viewholder is scrolled off the screen, the View gets detached which stops the animation. The `RecyclerView` caches that ViewHolder and the next time the `onBindViewHolder()` method will not be called as the data in the Viewholder has not cha

[2018-05-02 12:49] #55 closed

[2018-05-02 15:42] ArcherEmiya05 opened #56 "Stop when scrolling in RecyclerView"
Oh sorry I though the previous issue that I open is not saved. Please just close this one thanks.

[2018-05-02 16:15] ArcherEmiya05 commented on #55
Wow, thanks I will try it!

[2018-05-03 06:34] #56 closed

[2018-05-30 22:33] baboog opened #58 "Illegal argument exception"
Any pointers/hints please , getting following exception:

`Fatal Exception: java.lang.IllegalArgumentException: width and height must be > 0
       at android.graphics.Bitmap.createBitmap(Bitmap.java:850)
       at android.graphics.Bitmap.createBitmap(Bitmap.java:829)
       at android.graphics.Bitmap.createBitmap(Bitmap.java:796)
       at io.supercharge.shimmerlayout.ShimmerLayout.createBitmap(S

[2018-05-31 06:20] veghtomi commented on #58
Hi @baboog ! Can you reproduce this issue? I suggest using the newer version (2.1.0) of the library, the one you are using is an older one.

[2018-06-01 18:43] baboog commented on #58
no , but my fabric has alot of these crashes
updating it and sending a update in few days , lets see
thanks

[2018-06-04 06:57] veghtomi commented on #58
Thanks @baboog ! Could you tell me the version you were using? This issue happens sometimes with the older version of the lib and I would like to investigate it! The only thing that I can think of is setting the view height to zero which can cause this kind of crash.

Until you send me updates, I am closing the issue. If it happens again, please open it.

[2018-06-04 06:57] #58 closed

[2018-06-11 06:21] baboog commented on #58
Hey @veghtomi
So we updated to 2.1.0
but the crash is still there...

it seems somehow the width is 0  even in the  onPreDrawListener .. we breezed through the library code, ( not sure that is the root cause just a hunch) .. Sadly havent  been able to reproduce it, But samsung is on top ( no surprise there :D )

<img width="804" alt="screen shot 2018-06-11 at 11 18 48 am" src="https://user-images.

[2018-06-13 06:16] veghtomi commented on #58
I think that the height should be the one which is zero as the bitmap is not created if the width is zero. At the weekend I will check it and probably put a height check as well to `startShimmerAnimation()`. My question would be that are you using on a view of which height is set to zero by somehow?

[2018-06-14 10:17] baboog commented on #58
will check and update
thanks

[2018-07-12 13:09] usmanrana07 opened #60 "Comparison with Facebook shimmer library 0.2.0 is not available"
Can you update the graph comparison against Facebook shimmer library 0.2.0 ? Is ShimmerLayout still better than that?

[2018-07-21 07:49] CHRehan opened #61 "Animation not working properly when add background"
When i add background color animation ripple collapsed with other Views
![screenshot_1532159074](https://user-images.githubusercontent.com/12581323/43033472-7fd8039e-8ce4-11e8-8520-65ed3e5a4b9d.png)

[2018-07-21 09:11] veghtomi commented on #61
@CHRehan I would say it's not a bug, but a feature. Basically, we have a shader which contains the `Lineargradient `(shimmer line) and a bitmap which contains the bounds of everything which is not transparent. And in every frame, we blend these 2 together. Since your ShimmerLayout has a background color, when we blend it together with the `Lineargradient` you can see the whole shimmer line as we d

[2018-07-21 09:11] #61 closed

[2018-07-21 09:12] veghtomi commented on #60
@usmanrana07 Thanks for the remark, I will do the comparison soon.

[2018-07-26 09:59] baboog commented on #58
hey @veghtomi did u get chance to look into
"At the weekend I will check it and probably put a height check as well to startShimmerAnimation()"

[2018-07-26 18:12] LOG-TAG commented on #61
@veghtomi Howto use it when ConstraintLayout as a parent and 4 child card views = https://gist.github.com/LOG-TAG/dc13db135724d9738c8664e432c85cb5

inside that cardview gain ConstraintLayout with widgets texviews? just after declaring the parent put the ShimmerLayout and close before parent closes?

[2018-07-26 21:32] veghtomi commented on #61
@LOG-TAG The easiest way if you want to animate only the contents of the CardView is the following. Add a ShimmerLayout as a child of the CardView, and after add the contents (ConstraintLayout) as the child of ShimmerLayout. The ConstraintLayout and ShimmerLayout should have a transparent background, so the animation will only appear on the Views and TextViews. If you want to modify the background

[2018-07-26 21:38] veghtomi commented on #58
Hi @baboog,

sorry, I forgot it!  I will make up for it at this weekend and will write back.

[2018-07-28 09:52] deshario opened #62 "Scroll Content Inside ShimmerLayout"
How to scroll content inside ShimmerLayout properly ... <scrollview> inside ShimmerLayout not working .... it cant be scroll

[2018-07-28 11:25] veghtomi commented on #62
@deshario ShimmerLayout extends FrameLayout so it cannot be scrolled at all. Put it as a child of ScrollView or NestedScrollView and then it can be scrolled.

[2018-07-29 04:57] chathura2020 opened #63 "Getting dark shimmer animation for big views"
I have even tested this on the sample app as well. It shows the dark animation like in the gif. How to fix this issue?
![shimmer](https://user-images.githubusercontent.com/3771098/43363082-dec2d1d2-9319-11e8-9e20-28f530043716.gif)

[2018-07-29 05:35] #63 closed

[2018-07-29 05:37] chathura2020 commented on #63
it worked after I adjust color of views and shimmer color

[2018-07-29 08:03] veghtomi commented on #63
@chathura2020 yes, to achieve the final effect, you have to modify both the shimmer color and the background of the views.

[2018-08-10 23:00] veghtomi commented on #60
@usmanrana07 I did the comparison with Facebook Shimmer 0.3.0 and the results were almost equal, so I removed the performance part. On almost equal I mean that in one situation my library consumed less by half MB, on the other situation the Facebook one.

[2018-08-10 23:00] #60 closed

[2018-09-24 07:25] baboog commented on #58
thanks @veghtomi , let me know whenever possible 👍

[2018-10-05 08:33] dineshoffl opened #65 "when adding shimmer layout xml InflateException accuired"
when adding shimmer layout to my lay it cause xml  InflateException .

[2018-10-08 07:27] richardradics commented on #65
@dineshoffl If its possible, could you please share more detail of your layout?

[2018-10-18 12:50] gali-azat96 opened #66 "A bug occurs on Android 4.1.1 in certain position of views. See example below."
https://github.com/gali-azat96/ShimmerIssueSample

[2018-10-19 05:47] gaulazat commented on #66
please, look only at the last commit, others are deleted

[2018-10-23 10:57] kudrandrew opened #68 "Issue with invisible RecyclerView item"
Hi!

**Case**:
We subscribe to some event and start/stop shimmer animation in onSubscribe/onFinally in bindView() of ViewHolders of our RecyclerView.
In ViewHolders which are visible to a user there is no problem but in elements which are off the screen shimmer animation starts but doesn't stop although stopShimmerAnimation() called.
If you scroll up and down bindView() will be called again and sh

[2018-10-28 09:33] veghtomi commented on #65
@dineshoffl since no additional information is provided about the nature of your exception, I am closing down the issue.

[2018-10-28 09:33] #65 closed

[2018-10-28 10:02] veghtomi commented on #66
@gali-azat96 thanks for the issue, I am looking at it

[2018-10-28 12:00] veghtomi commented on #68
Hi @kudrandrew,

Could you attach a sample code?

[2018-10-29 08:11] ankudryavtsev commented on #68
Hi @veghtomi,
I tried to create a sample app, but the issue wasn't reproduced.
So we have an issue with our adapter.
Thank you!

[2018-10-29 08:11] #68 closed

[2018-10-29 08:30] veghtomi commented on #68
You are welcome!

[2018-11-08 10:01] #66 closed

[2018-11-12 11:01] MenosGrante opened #69 "Shimmer effect moving out from view sometimes"
Sometimes shimmer effect moving out of views and after restart it is working good again.

[Video example](https://www.youtube.com/watch?v=xXwzSZy-RpU)

[code]

[2018-11-12 14:43] kuFEAR opened #70 "Crash on Meizu 16th device"
Hi.
I faced with Crash on Meizu 16th device

[code]

[2018-11-13 07:49] winstonvk commented on #70
Bump issue
We have the same behavior

[2018-11-14 08:13] veghtomi commented on #69
@MenosGrante thanks for reporting the, I will investigate it.

[2018-11-14 08:15] veghtomi commented on #70
@kuFEAR thanks for reporting the issue. I would like to ask that can you reproduce it and provide me code where this happens?

[2018-11-14 09:24] MenosGrante commented on #69
@veghtomi No problem, hope you will fix this soon :)

[2018-11-17 08:08] MaximPestryakov commented on #70
@veghtomi Just [enable "Night Mode"](http://forum.flymeos.com/thread-45811-1-1.html) (I suppose it comes out of the box on chinese version) and start demo app in this repo

[2018-11-28 10:07] omatrot opened #71 "Improve usage documentation"
If I've understood ShimmerLayout correctly, it is only about the animation of an existing layout where backgrounds and text colors of existing elements are already set to something like what we have in the sample.

In the real life, at some point I have to show real data.

I initially thought that given an existing layout, and provided with some kind of async task, colors and backgrouds would have

[2018-12-01 08:23] omatrot opened #72 "Does it work with LinearLayouts as children?"
I would say that it does not.
Should I convert my linearlayouts to relativelayouts ?

[2018-12-01 08:30] veghtomi commented on #72
Hi @omatrot, yes it should. It is a normal `FrameLayout` which can have any kind of children views.
Could you provide a sample code where it is not works?

[2018-12-01 10:17] omatrot commented on #72
EDIT: I may be wrong but it seems to me that a background color is needed for the animation to be visible right ?
___

Of course, here we go:

[code]

The inner most horizontal Linear Layout is used to size TextViews children upon the individual weight.

[2018-12-01 10:45] veghtomi commented on #72
So, the first thing is that you should start the animation either from Java/Kotin code or at the XML by adding the `shimmer_auto_start` attribute.

The text color here is very similar to the default shimmer color so you cannot see the animation itself. If you change the `shimmer_color` attribute for example to red, then you can see the animation.

As for you question, anything inside the ShimmerLa

[2018-12-01 10:47] omatrot commented on #72
Ok understood, thanks for the clarification.

[2018-12-01 10:47] #72 closed

[2018-12-18 07:47] kataCai commented on #70
@kuFEAR  I faced with Crash on Meizu 16th device too. Has you solved this problem?

[2018-12-18 13:26] kuFEAR commented on #70
@caihanyuan No I don't, and I decide to refuse using the library

[2018-12-22 00:34] JasonLian2020 commented on #70
@veghtomi
Hi.
Same device.
Meizu 16TH, Android 8.1.0.
We have the same behavior.

[2018-12-22 00:44] JasonLian2020 commented on #70
Crash log

		java.lang.NullPointerException
		Attempt to invoke virtual method 'void android.graphics.Matrix.set(android.graphics.Matrix)' on a null object reference
		com.meizu.nightmode.MzNightModeManager.beforeDrawColor(MzNightModeManager.java:706)

		android.graphics.Shader.copyLocalMatrix(Shader.java:159)
		android.graphics.LinearGradient.copy(LinearGradient.java:129)
		android.graphics.Compo

[2018-12-22 21:07] veghtomi commented on #70
Sorry guys, do not have time so far. I will check it after the holidays!

[2018-12-27 09:00] ymhtut opened #73 "ConstraintLayout Support"
Currently, Shimmer Layout extends from FrameLayout.

So, if I am using ConstraintLayout, I need to wrap every component into ShimmerLayout which I believe is not a good implementation as it increases layout hierarchy.

I believe it'd be helpful for other devs using the library along with ConstraintLayout.

Thanks for the awesome library.

Cheers 🍻

[2018-12-28 13:48] veghtomi commented on #71
Hi @omatrot, yes, it is true that the sample app does not have this feature. However, I believe that the usage of this library (with the provided [Wiki documentation](https://github.com/team-supercharge/ShimmerLayout/wiki)) is very simple so everybody can use it in a way he/she wants.

[2018-12-28 13:48] #71 closed

[2018-12-28 13:49] veghtomi commented on #73
Hi @ymhtut, thanks for the feature idea, it sounds really useful. I will put it on my agenda!

[2019-01-23 05:31] DymanZy commented on #70
same behavior, is related to "night mode" of Meizu?

[2019-01-23 05:42] kuFEAR commented on #73
Or move the shimmer logic into a delegate, like in [library](https://github.com/Commit451/ForegroundViews/tree/master/foregroundviews/src/main/java/com/commit451/foregroundviews) for ability to combine few features in one ViewGroup

[2019-02-14 11:44] WebTiger89 opened #74 "No possibility to check if the Animation has started"
Hi,
can you please add a getter for the

`isAnimationStarted`

variable, so that its possible to check if the animation is started.
Thanks in advance

[2019-02-21 06:54] saurabhdhillon opened #75 "Facing memory leaks and hanging UI using IO shimmer"
I have attached the log files i received from @baoyongzhang/blockcanary, the library helps in finding UI block issues.
After few minutes of using screens integrated with shimmer layout, i start loosing frames and screen starts laging. On page open i make shimmer visibility VISIBLE and start the animation, on success data from api i stop animation and make shimmer view visibility GONE. I repeat the

[2019-03-04 15:19] FAMM2017 commented on #75
Hi, you can try with this version:  **implementation 'io.supercharge:shimmerlayout:2.1.0'** and let me know how it goes

[2019-03-04 17:02] saurabhdhillon commented on #75
Hey @FAMM2017 i am using this version only.

[2019-05-08 15:18] RohitK1992 opened #76 "AAPT: error: duplicate value for resource 'attr/layout_gravity' with config."
I updated my android studio from 3.1.3 to 3.4 and changed the targetSdkVersion to 28.
PS: classpath 'com.android.tools.build:gradle:3.4.0'. After which I am getting the following compile time error and I am not able to generate the build for my app.

And this is the error displayed:

C:\Users\admin\.gradle\caches\transforms-2\files-2.1\a31c077a0c9e7184e12caa4ae20cff19\res\values\values.xml:4:5-501

[2019-05-13 05:47] RohitK1992 commented on #76
Is anybody looking into this ?

[2019-05-13 08:04] veghtomi commented on #76
@RohitK1992 I will.

[2019-05-14 14:01] alexandrvj opened #77 "ShimmerLayout animation logic ignores parent visibility and detached from window state"
There are at least two problem cases with ShimmerLayout animation logic.

1. If the ShimmerLayout has parent view/container and you hide parent view, animation logic inside ShimmerLayout don't stop. For example, we have some xml

    <androidx.cardview.widget.CardView
        android:id="@+id/cardView"
        android:layout_width="match_parent"
        android:layout_height="48dp"
        android

[2019-05-15 13:03] RohitK1992 commented on #76
@veghtomi Any update ?

[2019-05-27 11:11] alexandrvj commented on #77
Up!

[2019-05-27 21:16] veghtomi commented on #77
@alexandrvj
1. issue: I believe the answer to this is very obvious. If you animate a View with built-in classes like ObjectAnimator and the animated View becomes hidden, then the animation will continue regardless. With this library, it is the same.

2. issue: good finding. I could reproduce the memory leak, a fix will come.

[2019-05-27 21:30] veghtomi commented on #76
@RohitK1992
I am using Android Studio 3.4.1 with the same targetSdkVersion and gradle version.
Also, the library does not define a property called _layout_gravity_. See your attached file.

Maybe try to use Invalidate Caches / Restart and play with the libraries/versions you use for the project.

[2019-05-27 21:30] #76 closed

[2019-06-02 20:20] veghtomi commented on #74
@WebTiger89 change has been committed. As for the release, some other issues will be fixed and after I will release it. Early July at the latest.

[2019-06-02 20:20] #74 closed

[2019-06-12 01:56] xiaoxing1992 commented on #70
same behavior, is related to "night mode" of Meizu?

[2019-06-13 20:51] DanP1925 commented on #69
@veghtomi did you find the cause of this issue because I'm having it too on my app

[2019-06-18 13:36] chigup opened #79 "Im using shimmer On a CardView which is attached to a adapter and the app the crarshes?"
Here is my layout

` <LinearLayout
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:layout_marginStart="8dp"
        android:layout_marginTop="8dp"
        android:layout_marginEnd="8dp"
        android:layout_marginBottom="8dp"
        android:orientation="vertical"
        app:layout_constraintBottom_toBottomOf="parent"
        app:layout_c

[2019-06-18 15:54] GuanacoDevs commented on #79
What does your logcat says?
Can you share your adapter?

[2019-06-18 18:47] chigup commented on #79
E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.teepe.teepe, PID: 9014
    java.lang.RuntimeException: Unable to start activity ComponentInfo{com.teepe.teepe/com.teepe.teepe.MainActivity}: java.lang.NullPointerException: Attempt to invoke virtual method 'void io.supercharge.shimmerlayout.ShimmerLayout.startShimmerAnimation()' on a null object reference
        at android.app.ActivityThrea

[2019-06-18 22:19] veghtomi commented on #79
@chigup It seems very very strange that you got an NPE on the layout at an adapter.

Could you create a sample app where you can reproduce the crash? It would be a great help.

[2019-06-18 22:20] GuanacoDevs commented on #79
Seems like you haven't initialized the `ShimmerLayout`.
Maybe you are calling `startShimmerAnimation()` before `findViewById(R.id.shimmer_Main_card)` or you are not initializing it appropiately in your `ViewHolder`

[2019-06-19 06:59] chigup commented on #79
Thanks @GuanacoDevs this was the problem

[2019-06-19 06:59] #79 closed

[2019-07-08 10:39] Sdghasemi commented on #69
Any updates on this?

[2019-07-10 07:32] nikhilpanju commented on #69
Same issue here. Any updates @veghtomi ?

[2019-07-23 02:33] ArmedYang commented on #70
same behavior, did there has any solution so far?

[2019-07-24 03:40] zsaCHG commented on #70
meet same behavior too. all the phone brand is Meizu.
stack trace :
`java.lang.NullPointerException: Attempt to read from field 'int android.view.View.mViewFlags' on a null object reference
    at android.view.ViewGroup.null dispatchGetDisplayList(null)(ViewGroup.java:4359)
    at android.view.View.null updateDisplayListIfDirty(null)(View.java:18211)
    at android.view.ViewGroup.null recreateChil

[2019-07-24 03:41] JasonLian2020 commented on #70
@veghtomi

[2019-07-26 20:38] EneasVVA commented on #75
I'm experimenting the same problem

[2019-08-26 08:06] FlorangOutang opened #80 "Crash on Samsung S6"
Hello,

We are facing a crash on several Samsung Galaxy S6 that runs on Android 5.0.2.

`Fatal Exception: java.lang.ArrayIndexOutOfBoundsException: length=2; index=2
       at android.util.PathParser$PathDataNode.addCommand + 380(PathParser.java:380)
       at android.util.PathParser$PathDataNode.nodesToPath + 260(PathParser.java:260)
       at android.graphics.drawable.VectorDrawable$VPath.toPath

[2019-08-26 10:11] XcJKing commented on #70
@veghtomi i have the same !

[2019-09-06 13:56] atakankaya commented on #69
I am also seeing this behaviour, and I notice that this happens with phones running Android 9.
I see that 2-3 out of 10 cycles go beyond the bounds on Samsung S9.
Issue does not happen on Huawei P9 Lite (Android 7.0) or Samsung Tab S2 (Android 7.0)

Do you have any updates regarding this @veghtomi ?

[2019-09-29 02:31] happinessbyte opened #81 "魅族16x开启夜间模式，系统崩溃"

[2019-09-29 02:34] happinessbyte opened #82 "Meizu 16x turns on system crash in night mode"

[2019-10-29 06:55] mortenholmgaard opened #83 "AndroidX migration required"
Please migrate to AndroidX if this libary should continue to be usable, as this is a requirement for Google Play as of 1. of november do to min api 28 and firebase for that version requires AndroidX.

[2019-10-29 23:22] veghtomi commented on #83
@mortenholmgaard AndroidX is not yet necessary. What is necessary is to update targetSdk to api 28. I have created a pull request and after review, it will be merged and released.  #84

[2019-11-15 20:14] ahmadmssm opened #85 "Grid / Horizontal items ?"
I can not seem to find a way to view Grid or horizontal Shimmer items

[2019-12-23 09:19] ahmadmssm commented on #85
@veghtomi  ??

[2020-03-03 08:55] Mbt925 opened #86 "Extra margin applied when add a view to ShimmerLayout"
When I add a view to ShimmerLayout, some extra left/right margins are added that I don't know where they came from.
Is it normal?

[2020-03-24 03:02] caiyishui commented on #81
这个问题可以直接在异常代码进行捕获处理
@Override
    protected void dispatchDraw(Canvas canvas) {
        // 由于在魅族夜间模式渲染会有问题，加异常捕获处理
        try {
            if (!isAnimationStarted || getWidth() <= 0 || getHeight() <= 0) {
                super.dispatchDraw(canvas);
            } else {
                dispatchDrawShimmer(canvas);
            }
        }catch (Exception e){
//            Log.i("")
        }
    }

[2020-04-20 09:02] DastanIqbal opened #89 "Crashing on Moto Z2 Play"
Crashing don't use its deprecated.

[code]

[2020-07-12 06:14] lucasborer1 opened #90 "https://github.com/team-supercharge/ShimmerLayout.wiki.git"

[2020-08-07 09:55] rezastallone opened #91 "ColorSoftDarkModeManager.java line 645 com.color.darkmode.ColorSoftDarkModeManager.handleShader"
I get the following error on my Crashlytic dashboard.

I am not sure how to reproduce. Can you guys help me out ? Thanks

Fatal Exception: java.lang.IllegalArgumentException: Shader parameters must not be null
       at android.graphics.ComposeShader.<init>(ComposeShader.java:79)
       at android.graphics.ComposeShader.getDarkModeShader(ComposeShader.java:111)
       at com.color.darkmode.ColorSo

[2020-09-25 02:42] hljwang3874149 commented on #70
same behavior

[2021-03-15 08:52] Sumit1334 opened #92 "Add view programittically"
I want to add view programmically in shimmer layout how can I add

[2022-06-28 01:54] Tukesboy opened #93 "Attempt to invoke interface method 'long[] android.graphics.IShaderExt.getColorLongs()'"
java.lang.NullPointerException: Attempt to invoke interface method 'long[] android.graphics.IShaderExt.getColorLongs()' on a null object reference

	at android.graphics.ShaderExtImpl.getComposeShaderColor(ShaderExtImpl.java:76)

	at android.graphics.ShaderExtImpl.getComposeShaderColor(ShaderExtImpl.java:65)

	at com.oplus.darkmode.OplusDarkModeThirdInvertManager.getRealPaintState(OplusDarkModeThir

[2022-06-28 01:56] Tukesboy commented on #91
Have you solved your problem?

[2022-06-28 02:02] Tukesboy commented on #70
Is there a solution?

[2022-07-04 17:30] rezastallone commented on #91
I honestly forgot about it, I think i solved it by updating the library

[2022-08-04 03:45] fenghuilu commented on #69
private void enableForcedSoftwareLayerIfNeeded() {
//        if (Build.VERSION.SDK_INT <= Build.VERSION_CODES.JELLY_BEAN) {
            setLayerType(View.LAYER_TYPE_SOFTWARE, null);
//        }
    }
can ignore this problem

[2022-10-18 14:49] abhishekint16 commented on #93
Hey, @Tukesboy could you fix this?